.nav-style {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-evenly;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  & > * {
    width: 33%;
    margin: 0 1%;

    @media (max-width: 1000px) {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__parent {
    a {
      margin: 0 15px;
      text-decoration: none;
      font-size: 13px;
      color: black;
    }
  }

  &__logo {
    text-align: center;

    @media (max-width: 1000px) {
      order: -1;
      margin: 20px auto 25px;
    }

    img {
      width: 200px;
      cursor: pointer;
      transition-duration: 500ms;
      transition-property: transform;

      &:hover {
        transform: scale(1.25);
        transition-duration: 1000ms;
        transition-property: all;

        @media (max-width: 800px) {
          transform: scale(1.175);
        }
      }

      &:active {
        transform: scale(1.1);
        transition-duration: 500ms;
        transition-property: all;
      }
    }
  }

  // &__right {
  //   .fa {
  //     font-size: 55px;
  //     color: red;
  //     border: 1px solid red;
  //   }

  //   &__wishlist {
  //     &:after {
  //       content: "testing";
  //       font-family: Simple-Line-Icons;
  //     }
  //   }
  // }

  &__cart-widget {
    .right-column {
      margin: 25px 20px 10px 0;
    }

    .cart-widget-side {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 339px;
      width: 340px;
      transition: transform 0.3s ease;
      display: none;
      cursor: pointer;
      z-index: 10000;

      .widget-heading {
        margin-bottom: 20px;
        padding: 28px 20px;
        background-color: #000;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: row;
        -webkit-justify-content: space-between;

        .widget-title {
          letter-spacing: 0.6px;
          margin-bottom: 0;
          padding-bottom: 0;
          font-size: 24px;
          vertical-align: middle;
          display: inline-block;
          color: #fff;
          /* font-family: Karla; */
          font-weight: 700;
          font-style: normal;
        }

        .widget-close {
          text-transform: uppercase;
          text-decoration: none;
          font-size: 12px;
          letter-spacing: 0.6px;
          line-height: 35px;
          position: relative;
          cursor: pointer;
          padding-right: 21px;

          &::before {
            content: " ";
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -1px;
            width: 15px;
            height: 2px;
            display: inline-block;
            background-color: #fff;
            -webkit-transition: background-color 0.2s ease-in-out,
              transform 0.2s ease-in-out, width 0.2s ease-in-out;
            -moz-transition: background-color 0.2s ease-in-out,
              transform 0.2s ease-in-out, width 0.2s ease-in-out;
            -o-transition: background-color 0.2s ease-in-out,
              transform 0.2s ease-in-out, width 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out,
              transform 0.2s ease-in-out, width 0.2s ease-in-out;
          }

          *:before,
          *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
          }
        }
      }
    }

    .basel-close-side {
      top: -150px;
      height: calc(100vh + 300px);
      position: fixed;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 400;
      width: 100%;
      transition: all 0.3s ease;
    }
  }
}
